.registor_details {
  overflow: hidden;
  .title {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #ffc107;
    border-radius: 0px 0px 35% 35%;
  }
  form {
    padding: 25px;
    .form-group {
      margin-top: 30px;
      input {
        border: 1px solid #ffc107;
        color: black;
      }
      label {
        left: 10px;
        background-color: #fff;
      }
      .btn {
        cursor: pointer;
        padding: 13px 15px;
        background-color: transparent;
        border: 1px solid black;
        background-color: black;
        color: white;
        font-weight: 500;
        outline: none;
      }
    }
  }
}
