<div class="eventCard">
    <div class="time-from">
        <span class="date">07</span>
        <span class="month">MAY</span>
    </div>
    <div class="event-wrapper">
        <div class="title">
            <p>Elegant Light Box Paper Cut Dioramas</p>
        </div>
        <div class="meta">
            <span class="time">
                <i class="far fa-clock"></i>
                <span>
                    8:00 AM - 5:00 PM
                </span>
            </span>
            <span class="location">
                <i class="fas fa-map-marker-alt"></i>
                <span>
                    VANCOUVER, CANADA
                </span>
            </span>
        </div>
        <div class="description">
            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris itae
                erat conuat</p>
        </div>

    </div>
    <div class="event-img">
        <img src="../../../assets/image/g2.jpg">
    </div>
</div>